<div class="slim-pageheader pd-10">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" >خانه</li>
        <li class="breadcrumb-item active" >صفحه اول</li>

    </ol>
</div>

<div class="text-center">
    <img src="~/assets/Logo/logo-02.png" height="500" width="1000" />
</div>