<div class="slim-pageheader pd-10">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item active">خانه</li>
        <li class="breadcrumb-item active" aria-current="page">پنهان سازی</li>

    </ol>
</div>

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
